{%extends 'master.html'%} 
{% load static %} 
{%if liste %} 
{% block title%} 
  Create a new student
{% endblock %} 
{% block content%}
  <form method="POST">
    {%csrf_token%}
    {{form.as_p}}
    <div class ="boutons">
      <button class = 'button radius alert left' type='cancel'><a href={% url 'index'%}>Cancel</a>
      </button>
      <button class = 'button radius succes right 'type='submit'>Submite</button>
    </div>
  </form>
{% endblock %}
{%else%}
<p>No cursus to show</p>
{%endif%}